Repository chronicle/content-hub, pull requests merged in 2025-06, with the labels that each got.

#18 Add unit-tests for Telegram integration
  integrations/third_party/telegram/actions/WaitForPollResults.py
  integrations/third_party/telegram/connectors/TelegramConnector.py
  integrations/third_party/telegram/core/TelegramManager.py
  integrations/third_party/telegram/pyproject.toml
  integrations/third_party/telegram/release_notes.yaml
  integrations/third_party/telegram/tests/common.py
  integrations/third_party/telegram/tests/config.json
  integrations/third_party/telegram/tests/conftest.py
  integrations/third_party/telegram/tests/core/product.py
  integrations/third_party/telegram/tests/core/session.py
  integrations/third_party/telegram/tests/test_actions/__init__.py
  integrations/third_party/telegram/tests/test_actions/test_get_bot_details.py
  integrations/third_party/telegram/tests/test_actions/test_get_chat_details.py
  integrations/third_party/telegram/tests/test_actions/test_get_messages.py
  integrations/third_party/telegram/tests/test_actions/test_ping.py
  integrations/third_party/telegram/tests/test_actions/test_send_document.py
  integrations/third_party/telegram/tests/test_actions/test_send_location.py
  integrations/third_party/telegram/tests/test_actions/test_send_message.py
  integrations/third_party/telegram/tests/test_actions/test_send_photo.py
  integrations/third_party/telegram/tests/test_actions/test_send_poll.py
  integrations/third_party/telegram/tests/test_actions/test_set_default_chat_permissions.py
  integrations/third_party/telegram/tests/test_actions/test_set_user_permissions.py
  integrations/third_party/telegram/tests/test_utils/__init__.py
  packages/integration_testing/src/integration_testing/common.py
Labels: python

#45 Add new integration Neterich Connect
  integrations/third_party/netenrich_connect/.python-version
  integrations/third_party/netenrich_connect/__init__.py
  integrations/third_party/netenrich_connect/actions/__init__.py
  integrations/third_party/netenrich_connect/actions/ping.py
  integrations/third_party/netenrich_connect/actions/ping.yaml
  integrations/third_party/netenrich_connect/definition.yaml
  integrations/third_party/netenrich_connect/jobs/__init__.py
  integrations/third_party/netenrich_connect/jobs/sync_act_on_updates_to_case.py
  integrations/third_party/netenrich_connect/jobs/sync_act_on_updates_to_case.yaml
  integrations/third_party/netenrich_connect/jobs/sync_case_updates_to_act_on.py
  integrations/third_party/netenrich_connect/jobs/sync_case_updates_to_act_on.yaml
  integrations/third_party/netenrich_connect/pyproject.toml
  integrations/third_party/netenrich_connect/release_notes.yaml
  integrations/third_party/netenrich_connect/tests/__init__.py
  integrations/third_party/netenrich_connect/tests/common.py
  integrations/third_party/netenrich_connect/tests/test_defaults/__init__.py
  integrations/third_party/netenrich_connect/tests/test_defaults/test_imports.py
  integrations/third_party/netenrich_connect/uv.lock
Labels: new integration

#48 Fix release notes bug where the notification and update time
  integrations/third_party/git_sync/uv.lock
  packages/mp/pyproject.toml
  packages/mp/src/mp/build_project/post_build/marketplace_json.py
  packages/mp/src/mp/check/__init__.py
  packages/mp/tests/test_mp/mock_marketplace/mock_built_integration/marketplace.json
  packages/mp/uv.lock
Labels: bug

#51 Add `.github/CODEOWNERS` to add ownership for `docs/` directory
  .github/CODEOWNERS
Labels: enhancement

#37 Tools-> Extract URL Domain not validating results
  integrations/third_party/tools/actions/ExtractUrlDomain.py
  integrations/third_party/tools/core/ToolsCommon.py
  integrations/third_party/tools/core/constants.py
  integrations/third_party/tools/definition.yaml
  integrations/third_party/tools/pyproject.toml
  integrations/third_party/tools/release_notes.yaml
  integrations/third_party/tools/uv.lock
Labels: bug

#55 Update string trimming and add tests
  packages/mp/pyproject.toml
  packages/mp/src/mp/core/data_models/abc.py
  packages/mp/src/mp/core/utils.py
  packages/mp/tests/test_mp/test_core/test_utils.py
  packages/mp/uv.lock
Labels: enhancement

#57 Mp/add validations
  integrations/third_party/abuse_ipdb/definition.yaml
  integrations/third_party/bandura_cyber/definition.yaml
  integrations/third_party/chronicle_support_tools/definition.yaml
  integrations/third_party/eclectic_iq/connectors/EclecticiqFeedConnector.yaml
  integrations/third_party/eclectic_iq/definition.yaml
  integrations/third_party/git_sync/definition.yaml
  integrations/third_party/imgbb/definition.yaml
  integrations/third_party/netenrich_connect/definition.yaml
  integrations/third_party/pulsedive/definition.yaml
  integrations/third_party/recorded_future_intelligence/definition.yaml
  integrations/third_party/vectra_qux/connectors/Vectra QUX - Entities Connector.yaml
  integrations/third_party/vectra_qux/definition.yaml
  packages/mp/pyproject.toml
  packages/mp/src/mp/core/constants.py
  packages/mp/src/mp/core/data_models/action/parameter.py
  packages/mp/src/mp/core/data_models/connector/metadata.py
  packages/mp/src/mp/core/data_models/connector/parameter.py
  packages/mp/src/mp/core/data_models/integration_meta/metadata.py
  packages/mp/src/mp/core/data_models/integration_meta/parameter.py
  packages/mp/src/mp/core/data_models/job/parameter.py
  packages/mp/src/mp/core/utils.py
  packages/mp/src/mp/core/validators.py
  packages/mp/tests/test_mp/mock_marketplace/commercial/mock_integration/Connectors/connector.connectordef
  packages/mp/tests/test_mp/mock_marketplace/commercial/mock_integration/Integration-mock_integration.def
  packages/mp/tests/test_mp/mock_marketplace/mock_built_integration/marketplace.json
  packages/mp/tests/test_mp/mock_marketplace/mock_built_integration/mock_integration/Connectors/connector.connectordef
  packages/mp/tests/test_mp/mock_marketplace/mock_built_integration/mock_integration/Integration-mock_integration.def
  packages/mp/tests/test_mp/mock_marketplace/mock_built_integration/mock_integration/mock_integration.fulldetails
  packages/mp/tests/test_mp/mock_marketplace/third_party/mock_integration/connectors/connector.yaml
  packages/mp/tests/test_mp/mock_marketplace/third_party/mock_integration/definition.yaml
  packages/mp/tests/test_mp/test_core/test_data_models/test_parameter_validation.py
  packages/mp/tests/test_mp/test_core/test_utils.py
Labels: enhancement, python

#56 Add the ability to deploy integration with `mp dev-env` commands
  packages/mp/README.md
  packages/mp/docs/usage.md
  packages/mp/pyproject.toml
  packages/mp/src/mp/__init__.py
  packages/mp/src/mp/build_project/marketplace.py
  packages/mp/src/mp/core/constants.py
  packages/mp/src/mp/core/file_utils.py
  packages/mp/src/mp/dev_env/__init__.py
  packages/mp/src/mp/dev_env/api.py
  packages/mp/src/mp/dev_env/utils.py
  packages/mp/uv.lock
Labels: enhancement, python

#69 Expand and standardize documentation for development and integration
  README.md
  docs/contributing.md
  docs/core_concepts.md
  docs/development/README.md
  docs/development/code_style.md
  docs/development/ide_setup/jetbrains.md
  docs/development/ide_setup/vs_code.md
  docs/development/installation_guide.md
  docs/development/integrations/README.md
  docs/development/integrations/actions.md
  docs/development/integrations/connectors.md
  docs/development/integrations/creating_integrations.md
  docs/development/integrations/examples.md
  docs/development/integrations/jobs.md
  docs/development/integrations/tests.md
  docs/development/integrations/widgets.md
  docs/development/linters_formatters.md
  docs/resources/google_secops_logo.png
  docs/resources/under_construction.png
  packages/README.md
  packages/integration_testing/README.md
  packages/mp/README.md
  packages/mp/pyproject.toml
  packages/mp/src/mp/__main__.py
  packages/mp/uv.lock
  ruff.toml
Labels: documentation, enhancement

#72 Updated README.md
  README.md
Labels: documentation

#74 Add validation for mapping rules if integration has connectors
  packages/mp/pyproject.toml
  packages/mp/src/mp/core/constants.py
  packages/mp/src/mp/core/data_models/integration.py
  packages/mp/uv.lock
Labels: enhancement, python

#49 Parse Case Wall Email - updated warn instead of warning in logger. In…
  integrations/third_party/email_utilities/core/EmailManager.py
  integrations/third_party/email_utilities/pyproject.toml
  integrations/third_party/email_utilities/release_notes.yaml
  integrations/third_party/email_utilities/uv.lock
Labels: bug, python

#79 Add run configurations for `mp` tool operations and integration checks.
  .run/Marketplace Integration checks.run.xml
  .run/Marketplace pre push checks.run.xml
  .run/mp build integration.run.xml
  .run/mp build repo.run.xml
  .run/mp check changed files.run.xml
  .run/mp check path.run.xml
  .run/mp test integration.run.xml
  .run/mp test repo.run.xml
Labels: enhancement

#81 Tools - Add "Global" as optional value for parameters in SetContextValue and GetContext Values
  integrations/third_party/tools/actions/GetContextValue.yaml
  integrations/third_party/tools/actions/SetContextValue.yaml
  integrations/third_party/tools/pyproject.toml
  integrations/third_party/tools/release_notes.yaml
  integrations/third_party/tools/uv.lock
Labels: bug, python
