Repository chronicle/content-hub, pull requests merged in 2025-09, with the labels that each got.

#248 [b/442176067, b/437637230] - Fixed tests infra + added new validation
  integrations/third_party/functions/pyproject.toml
  integrations/third_party/houdin_io/pyproject.toml
  integrations/third_party/houdin_io/uv.lock
  integrations/third_party/sample_integration/uv.lock
  packages/mp/pyproject.toml
  packages/mp/ruff.toml
  packages/mp/src/mp/run_pre_build_tests/__init__.py
  packages/mp/src/mp/run_pre_build_tests/process_test_output.py
  packages/mp/src/mp/validate/pre_build_validation/__init__.py
  packages/mp/src/mp/validate/pre_build_validation/required_dependencies_validation.py
  packages/mp/src/mp/validate/utils.py
  packages/mp/tests/test_mp/test_validate/test_pre_build_validations/conftest.py
  packages/mp/tests/test_mp/test_validate/test_pre_build_validations/test_required_dependencies_validation.py
  packages/mp/tests/test_mp/test_validate/test_pre_build_validations/test_version_bump_validation.py
  packages/mp/tests/test_mp/test_validate/test_utils/__init__.py
  packages/mp/tests/test_mp/test_validate/test_utils/test_get_project_dependency_name.py
  packages/mp/uv.lock
  ruff.toml
Labels: bug, mp

#252 [b/435106563] Use of insecure SSL/TLS version
  integrations/third_party/tools/actions/GetCertificateDetails.py
  integrations/third_party/tools/actions/GetCertificateDetails.yaml
  integrations/third_party/tools/pyproject.toml
  integrations/third_party/tools/release_notes.yaml
Labels: python, security_issues

#255 Adding Stairwell integration with IP, hash and hostname enrichment capabilities
  integrations/third_party/stairwell/.python-version
  integrations/third_party/stairwell/__init__.py
  integrations/third_party/stairwell/actions/EnrichHash.py
  integrations/third_party/stairwell/actions/EnrichHash.yaml
  integrations/third_party/stairwell/actions/EnrichHostname.py
  integrations/third_party/stairwell/actions/EnrichHostname.yaml
  integrations/third_party/stairwell/actions/EnrichIP.py
  integrations/third_party/stairwell/actions/EnrichIP.yaml
  integrations/third_party/stairwell/actions/Ping.py
  integrations/third_party/stairwell/actions/Ping.yaml
  integrations/third_party/stairwell/actions/__init__.py
  integrations/third_party/stairwell/core/StairwellManager.py
  integrations/third_party/stairwell/core/StairwellParser.py
  integrations/third_party/stairwell/core/__init__.py
  integrations/third_party/stairwell/core/constants.py
  integrations/third_party/stairwell/core/datamodels.py
  integrations/third_party/stairwell/core/exceptions.py
  integrations/third_party/stairwell/core/utils.py
  integrations/third_party/stairwell/definition.yaml
  integrations/third_party/stairwell/pyproject.toml
  integrations/third_party/stairwell/release_notes.yaml
  integrations/third_party/stairwell/resources/image.png
  integrations/third_party/stairwell/resources/logo.svg
  integrations/third_party/stairwell/tests/__init__.py
  integrations/third_party/stairwell/tests/common.py
  integrations/third_party/stairwell/tests/test_defaults/__init__.py
  integrations/third_party/stairwell/tests/test_defaults/test_imports.py
  integrations/third_party/stairwell/uv.lock
  integrations/third_party/stairwell/widgets/EnrichHash.html
  integrations/third_party/stairwell/widgets/EnrichHash.yaml
  integrations/third_party/stairwell/widgets/EnrichHostname.html
  integrations/third_party/stairwell/widgets/EnrichHostname.yaml
  integrations/third_party/stairwell/widgets/EnrichIP.html
  integrations/third_party/stairwell/widgets/EnrichIP.yaml
Labels: new integration, pending fixes

#237 Group-IB TI update
  integrations/third_party/group_ib_ti/.python-version
  integrations/third_party/group_ib_ti/__init__.py
  integrations/third_party/group_ib_ti/actions/__init__.py
  integrations/third_party/group_ib_ti/actions/get_collection_info_async.py
  integrations/third_party/group_ib_ti/actions/get_collection_info_async.yaml
  integrations/third_party/group_ib_ti/actions/get_graph_info.py
  integrations/third_party/group_ib_ti/actions/get_graph_info.yaml
  integrations/third_party/group_ib_ti/actions/get_ti_search_info.py
  integrations/third_party/group_ib_ti/actions/get_ti_search_info.yaml
  integrations/third_party/group_ib_ti/actions/get_ti_search_info_by_collection.py
  integrations/third_party/group_ib_ti/actions/get_ti_search_info_by_collection.yaml
  integrations/third_party/group_ib_ti/actions/ping.py
  integrations/third_party/group_ib_ti/actions/ping.yaml
  integrations/third_party/group_ib_ti/connectors/__init__.py
  integrations/third_party/group_ib_ti/connectors/ti_ioc_hash_connector.py
  integrations/third_party/group_ib_ti/connectors/ti_ioc_hash_connector.yaml
  integrations/third_party/group_ib_ti/connectors/ti_ioc_ip_connector.py
  integrations/third_party/group_ib_ti/connectors/ti_ioc_ip_connector.yaml
  integrations/third_party/group_ib_ti/core/__init__.py
  integrations/third_party/group_ib_ti/core/adapter.py
  integrations/third_party/group_ib_ti/core/adapter_utils.py
  integrations/third_party/group_ib_ti/core/config.py
  integrations/third_party/group_ib_ti/core/endpoints.py
  integrations/third_party/group_ib_ti/core/mapping.py
  integrations/third_party/group_ib_ti/core/utils_manager.py
  integrations/third_party/group_ib_ti/definition.yaml
  integrations/third_party/group_ib_ti/ontology_mapping.yaml
  integrations/third_party/group_ib_ti/pyproject.toml
  integrations/third_party/group_ib_ti/release_notes.yaml
  integrations/third_party/group_ib_ti/resources/Group_IB_cover.png
  integrations/third_party/group_ib_ti/resources/group_ib_logo.svg
  integrations/third_party/group_ib_ti/tests/__init__.py
  integrations/third_party/group_ib_ti/tests/common.py
  integrations/third_party/group_ib_ti/tests/test_defaults/__init__.py
  integrations/third_party/group_ib_ti/tests/test_defaults/test_imports.py
  integrations/third_party/group_ib_ti/third_party-components_licenses
  integrations/third_party/group_ib_ti/uv.lock
Labels: new integration, pending fixes

#260 Adding Jamf integration
  integrations/third_party/jamf/.python-version
  integrations/third_party/jamf/__init__.py
  integrations/third_party/jamf/actions/AssignToGroup.py
  integrations/third_party/jamf/actions/AssignToGroup.yaml
  integrations/third_party/jamf/actions/GetComputerInventory.py
  integrations/third_party/jamf/actions/GetComputerInventory.yaml
  integrations/third_party/jamf/actions/GetDeviceGroupMembership.py
  integrations/third_party/jamf/actions/GetDeviceGroupMembership.yaml
  integrations/third_party/jamf/actions/GetDeviceInformation.py
  integrations/third_party/jamf/actions/GetDeviceInformation.yaml
  integrations/third_party/jamf/actions/ListComputerGroups.py
  integrations/third_party/jamf/actions/ListComputerGroups.yaml
  integrations/third_party/jamf/actions/Ping.py
  integrations/third_party/jamf/actions/Ping.yaml
  integrations/third_party/jamf/actions/RemoteLockManagedDevice.py
  integrations/third_party/jamf/actions/RemoteLockManagedDevice.yaml
  integrations/third_party/jamf/actions/UpdateExtensionAttribute.py
  integrations/third_party/jamf/actions/UpdateExtensionAttribute.yaml
  integrations/third_party/jamf/actions/WipeManagedDevice.py
  integrations/third_party/jamf/actions/WipeManagedDevice.yaml
  integrations/third_party/jamf/actions/__init__.py
  integrations/third_party/jamf/core/JamfManager.py
  integrations/third_party/jamf/core/__init__.py
  integrations/third_party/jamf/core/constants.py
  integrations/third_party/jamf/core/exceptions.py
  integrations/third_party/jamf/definition.yaml
  integrations/third_party/jamf/pyproject.toml
  integrations/third_party/jamf/release_notes.yaml
  integrations/third_party/jamf/resources/image.png
  integrations/third_party/jamf/resources/logo.svg
  integrations/third_party/jamf/uv.lock
  integrations/third_party/jamf/widgets/GetDeviceInformation.html
  integrations/third_party/jamf/widgets/GetDeviceInformation.yaml
Labels: new integration, Pending review

#262 Updates to integration description and categories
  integrations/third_party/stairwell/definition.yaml
  integrations/third_party/stairwell/pyproject.toml
  integrations/third_party/stairwell/release_notes.yaml
  integrations/third_party/stairwell/uv.lock
Labels: documentation, pending fixes

#263 Add new integration Infoblox NIOS
  integrations/third_party/infoblox_nios/.python-version
  integrations/third_party/infoblox_nios/__init__.py
  integrations/third_party/infoblox_nios/actions/__init__.py
  integrations/third_party/infoblox_nios/actions/create_host_record.py
  integrations/third_party/infoblox_nios/actions/create_host_record.yaml
  integrations/third_party/infoblox_nios/actions/create_response_policy_zone.py
  integrations/third_party/infoblox_nios/actions/create_response_policy_zone.yaml
  integrations/third_party/infoblox_nios/actions/create_rpz_a_rule.py
  integrations/third_party/infoblox_nios/actions/create_rpz_a_rule.yaml
  integrations/third_party/infoblox_nios/actions/create_rpz_aaaa_rule.py
  integrations/third_party/infoblox_nios/actions/create_rpz_aaaa_rule.yaml
  integrations/third_party/infoblox_nios/actions/create_rpz_cname_rule.py
  integrations/third_party/infoblox_nios/actions/create_rpz_cname_rule.yaml
  integrations/third_party/infoblox_nios/actions/create_rpz_mx_rule.py
  integrations/third_party/infoblox_nios/actions/create_rpz_mx_rule.yaml
  integrations/third_party/infoblox_nios/actions/create_rpz_naptr_rule.py
  integrations/third_party/infoblox_nios/actions/create_rpz_naptr_rule.yaml
  integrations/third_party/infoblox_nios/actions/create_rpz_ptr_rule.py
  integrations/third_party/infoblox_nios/actions/create_rpz_ptr_rule.yaml
  integrations/third_party/infoblox_nios/actions/create_rpz_srv_rule.py
  integrations/third_party/infoblox_nios/actions/create_rpz_srv_rule.yaml
  integrations/third_party/infoblox_nios/actions/create_rpz_txt_rule.py
  integrations/third_party/infoblox_nios/actions/create_rpz_txt_rule.yaml
  integrations/third_party/infoblox_nios/actions/delete_response_policy_zone.py
  integrations/third_party/infoblox_nios/actions/delete_response_policy_zone.yaml
  integrations/third_party/infoblox_nios/actions/delete_rpz_rule.py
  integrations/third_party/infoblox_nios/actions/delete_rpz_rule.yaml
  integrations/third_party/infoblox_nios/actions/dhcp_lease_lookup.py
  integrations/third_party/infoblox_nios/actions/dhcp_lease_lookup.yaml
  integrations/third_party/infoblox_nios/actions/get_response_policy_zone_details.py
  integrations/third_party/infoblox_nios/actions/get_response_policy_zone_details.yaml
  integrations/third_party/infoblox_nios/actions/ip_lookup.py
  integrations/third_party/infoblox_nios/actions/ip_lookup.yaml
  integrations/third_party/infoblox_nios/actions/list_host_info.py
  integrations/third_party/infoblox_nios/actions/list_host_info.yaml
  integrations/third_party/infoblox_nios/actions/list_network_info.py
  integrations/third_party/infoblox_nios/actions/list_network_info.yaml
  integrations/third_party/infoblox_nios/actions/ping.py
  integrations/third_party/infoblox_nios/actions/ping.yaml
  integrations/third_party/infoblox_nios/actions/search_rpz_rule.py
  integrations/third_party/infoblox_nios/actions/search_rpz_rule.yaml
  integrations/third_party/infoblox_nios/actions/update_rpz_cname_rule.py
  integrations/third_party/infoblox_nios/actions/update_rpz_cname_rule.yaml
  integrations/third_party/infoblox_nios/core/__init__.py
  integrations/third_party/infoblox_nios/core/api_manager.py
  integrations/third_party/infoblox_nios/core/constants.py
  integrations/third_party/infoblox_nios/core/datamodels.py
  integrations/third_party/infoblox_nios/core/infoblox_exceptions.py
  integrations/third_party/infoblox_nios/core/utils.py
  integrations/third_party/infoblox_nios/definition.yaml
  integrations/third_party/infoblox_nios/pyproject.toml
  integrations/third_party/infoblox_nios/release_notes.yaml
  integrations/third_party/infoblox_nios/resources/image.png
  integrations/third_party/infoblox_nios/resources/logo.svg
  integrations/third_party/infoblox_nios/tests/__init__.py
  integrations/third_party/infoblox_nios/tests/common.py
  integrations/third_party/infoblox_nios/tests/test_defaults/__init__.py
  integrations/third_party/infoblox_nios/tests/test_defaults/test_imports.py
  integrations/third_party/infoblox_nios/uv.lock
Labels: new integration, pending fixes
