Repository chronicle/content-hub, pull requests merged in 2025-08, with the labels that each got.

#140 RecordedFutureIntelligence v6.1
  integrations/third_party/recorded_future_intelligence/actions/AddAnalystNote.py
  integrations/third_party/recorded_future_intelligence/actions/DetonateFile.py
  integrations/third_party/recorded_future_intelligence/actions/DetonateURL.py
  integrations/third_party/recorded_future_intelligence/actions/EnrichCVE.py
  integrations/third_party/recorded_future_intelligence/actions/EnrichHash.py
  integrations/third_party/recorded_future_intelligence/actions/EnrichHost.py
  integrations/third_party/recorded_future_intelligence/actions/EnrichIOC.py
  integrations/third_party/recorded_future_intelligence/actions/EnrichIP.py
  integrations/third_party/recorded_future_intelligence/actions/EnrichURL.py
  integrations/third_party/recorded_future_intelligence/actions/GetAlertDetails.py
  integrations/third_party/recorded_future_intelligence/actions/GetPlaybookAlertDetails.py
  integrations/third_party/recorded_future_intelligence/actions/Ping.py
  integrations/third_party/recorded_future_intelligence/actions/RefreshPlaybookAlert.py
  integrations/third_party/recorded_future_intelligence/actions/UpdateAlert.py
  integrations/third_party/recorded_future_intelligence/actions/UpdateAlert.yaml
  integrations/third_party/recorded_future_intelligence/actions/UpdatePlaybookAlert.py
  integrations/third_party/recorded_future_intelligence/actions/UpdatePlaybookAlert.yaml
  integrations/third_party/recorded_future_intelligence/connectors/PlaybookAlertsConnector.py
  integrations/third_party/recorded_future_intelligence/connectors/PlaybookAlertsTrackingConnector.py
  integrations/third_party/recorded_future_intelligence/connectors/SecurityAlertsConnector.py
  integrations/third_party/recorded_future_intelligence/core/RecordedFutureCommon.py
  integrations/third_party/recorded_future_intelligence/core/RecordedFutureDataModelTransformationLayer.py
  integrations/third_party/recorded_future_intelligence/core/RecordedFutureManager.py
  integrations/third_party/recorded_future_intelligence/core/UtilsManager.py
  integrations/third_party/recorded_future_intelligence/core/constants.py
  integrations/third_party/recorded_future_intelligence/core/datamodels.py
  integrations/third_party/recorded_future_intelligence/core/exceptions.py
  integrations/third_party/recorded_future_intelligence/core/version.py
  integrations/third_party/recorded_future_intelligence/pyproject.toml
  integrations/third_party/recorded_future_intelligence/release_notes.yaml
  integrations/third_party/recorded_future_intelligence/uv.lock
Labels: bug, python, pending fixes

#224 EmailUtilities -> Analyze Headers action keeps timing out
  integrations/third_party/email_utilities/pyproject.toml
  integrations/third_party/email_utilities/release_notes.yaml
  integrations/third_party/email_utilities/uv.lock
Labels: bug, dependencies, python

#229 Update uv and change the build backend to the new uv_build backend
  packages/mp/pyproject.toml
  packages/mp/uv.lock
Labels: dependencies, mp

#232 [Buganizer 430228369] Dev-Env: new minor version
  .gitignore
  packages/mp/pyproject.toml
  packages/mp/src/mp/dev_env/__init__.py
  packages/mp/src/mp/dev_env/minor_version_bump/__init__.py
  packages/mp/src/mp/dev_env/minor_version_bump/utils.py
  packages/mp/tests/test_mp/test_dev_env/__init__.py
  packages/mp/tests/test_mp/test_dev_env/test_utils/__init__.py
  packages/mp/tests/test_mp/test_dev_env/test_utils/test_minor_version_bump.py
  packages/mp/uv.lock
Labels: mp

#246 [b/441711132] Exclude parameter values from readme if the type is password
  integrations/third_party/git_sync/core/constants.py
  integrations/third_party/git_sync/pyproject.toml
  integrations/third_party/git_sync/release_notes.yaml
  integrations/third_party/git_sync/uv.lock
Labels: bug
