Repository chronicle/content-hub, pull requests merged in 2025-07, with the labels that each got.

#103 Bump Functions integration version to 29.0 and update release notes with minor DDL fixes.
  integrations/third_party/functions/pyproject.toml
  integrations/third_party/functions/release_notes.yaml
Labels: good first issue, python

#105 Rollback dulwich due to issues pushing items to git
  integrations/third_party/git_sync/pyproject.toml
  integrations/third_party/git_sync/release_notes.yaml
  integrations/third_party/git_sync/uv.lock
Labels: bug, good first issue, dependencies, python, python:uv

#111 Revert bug in mp dev-env commands
  packages/mp/pyproject.toml
  packages/mp/src/mp/__init__.py
  packages/mp/src/mp/dev_env/__init__.py
Labels: bug, python

#101 [Buganizer ID: 430251231] Lists - 1p changes
  integrations/third_party/lists/actions/SearchCustomLists.py
  integrations/third_party/lists/actions/SearchCustomLists.yaml
  integrations/third_party/lists/actions/SearchEnvironmentCustomLists.py
  integrations/third_party/lists/actions/SearchEnvironmentCustomLists.yaml
  integrations/third_party/lists/pyproject.toml
  integrations/third_party/lists/release_notes.yaml
  integrations/third_party/lists/uv.lock
Labels: dependencies, python

#116 [Buganizer 430826687 + 430818637 + 430235492] Validation command infra + fatal and non fatal exception handling + uv lock validation
  .github/workflows/validate_integrations.yml
  packages/mp/pyproject.toml
  packages/mp/src/mp/__init__.py
  packages/mp/src/mp/build_project/restructure/deconstruct.py
  packages/mp/src/mp/core/exceptions.py
  packages/mp/src/mp/core/unix.py
  packages/mp/src/mp/validate/__init__.py
  packages/mp/src/mp/validate/post_build_validation.py
  packages/mp/src/mp/validate/pre_build_validation.py
  packages/mp/src/mp/validate/utils.py
  packages/mp/src/mp/validate/validation_results.py
  packages/mp/tests/test_mp/test_core/test_unix.py
  packages/mp/uv.lock
Labels: enhancement, python, mp

#131 git_sync v33
  integrations/third_party/git_sync/pyproject.toml
  integrations/third_party/git_sync/release_notes.yaml
  integrations/third_party/git_sync/uv.lock
Labels: bug, dependencies

#135 Added support for API key authentication in the `mp dev-env` commands.
  packages/mp/README.md
  packages/mp/pyproject.toml
  packages/mp/src/mp/dev_env/__init__.py
  packages/mp/src/mp/dev_env/api.py
Labels: enhancement, python, mp

#138 Update contributing.md
  docs/contributing.md
Labels: documentation
